name: CI

on: [push, pull_request]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    name: Unit Tests
    steps:
      - uses: actions/checkout@v3
      - name: set node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm ci
        run: npm ci
      - name: Build
        run: npm run build
      - name: Unit tests
        run: npm run test:unit
  e2e-test:
    runs-on: ubuntu-latest
    container: ghcr.io/${{ github.repository }}-e2e-linux:latest
    strategy:
      matrix:
        node-version: [18.x]
    name: E2E Tests
    steps:
      - uses: actions/checkout@v3
      - name: set node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: install deps
        run: npm ci
      - name: build
        run: npm run build
      - name: run tests
        run: npx jest --testMatch "**/*.e2e.ts" --runInBand
  release:
    runs-on: ubuntu-latest
    needs: 
      - unit-test
      - e2e-test
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v3
      - name: npm install
        run: npm install
      - name: Build
        run: npm run build
      - name: Release
        uses: cycjimmy/semantic-release-action@v3
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
          branch: master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
